<div class="container__big-card">

    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBxcTrhT8MkFgGy_g0YuVMNy8PPBKfm2RByQ&s" alt=""
            height="200px" srcset="">
    </div>

    <div class="big-card__title">
        <h1>
            <a href="#">Saiu a nova versão do Angular</a>
        </h1>
    </div>

    <div class="big-card__description">
        <p>
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla
        </p>
    </div>
</div>